body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  /* background-image: url(./topo-bg.jpg); */
}

#root {
  height: 100%;
}

.leaflet-container {
  width: 100%;
  height: 400px;
}

.card {
  z-index: 999;
  position: absolute;
  top: 2%;
  left: 74%;
  width: 200px;
}


/* MAPBOX */
.mapContainer {
  width: 100%;
  height: 600px;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 76px;
  left: 40px;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
  border-radius: 3px;
  opacity: .75
  }

  .distance-container {
    position: absolute;
    top: 130px;
    left: 52px;
    z-index: 1;
    }

  .distance-container > * {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  display: block;
  margin: 0;
  padding: 5px 10px;
  border-radius: 3px;
  }

  #mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
  }